@model IEnumerable<栗子音乐.Models.Music_Category>
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_muban.cshtml";
}


<!-- partial:partials/_header.html -->
<!-- partial -->
<div class="container-fluid relative animatedParent animateOnce">
    <div class="animated fadeInUpShort p-md-5 p-3">
        <section class="section">
            <h1 class="mb-2 text-primary">歌曲分类</h1>
            <p>
                在这里，
                <br />
                可以看到本站的所有歌曲分类
            </p>
        </section>
        <section class="section" id="music_list">
            <div class="mb-4">
                <h3>全部分类</h3>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card p-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="col-8">
                                    <div class="mr-4 float-left">
                                        <i class="icon-windows s-36"></i>
                                    </div>
                                    <h6>
                                        @item.Category_Name
                                    </h6>
                                    <a href="" name="">
                                        <small class="icon-music"></small>
                                    </a>
                                </div>
                                <a href="" class="ml-auto btn_list_xaingqing" title="@item.Category_ID" data-icon="@item.Category_Name">查看</a>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        <script>
            $(function() {
                $(".btn_list_xaingqing").click(function () {
                    
                    var id = $(this).attr("title");
                    var name = $(this).attr("data-icon");

                    window.location.href = "/Record/Categories_xq?Category_ID=" + id + "&Category_Name=" + name;
                })
            })
        </script>
            <div class="row">
                <div class="col-lg-12 offset-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="playlist">
                                <ul class="list-group" id="music_list_all">

                                    <li class="list-group-item my-1">
                                        <div class="d-flex align-items-center">
                                            <div class="col-1">
                                                <a class="no-ajaxy media-url" href="javascript:(0)">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <h6>歌曲</h6>
                                            </div>
                                            <span class=" ml-auto">歌手</span>
                                            <a href="javascript:(0)" class="ml-auto">分享</a>
                                            <div class="ml-auto">
                                                <a href="javascript:(0)">
                                                    播放
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    @foreach (var item in ViewData["music_list"] as List<栗子音乐.Models.sel_music_singer_Albums_all_Result>)
                                    {
                                        <li class="list-group-item my-1">
                                            <div class="d-flex align-items-center">
                                                <div class="col-1">
                                                    <a class="no-ajaxy media-url Music_Play_Count" title="@item.Music_ID" href="http://cdn.lizixs.top/music/@item.Music_Url">
                                                        <i class="icon-play s-28"></i>
                                                    </a>
                                                </div>
                                                <div class="col-6">
                                                    <h6>@item.Music_Name</h6>
                                                </div>
                                                <span class=" ml-auto">@item.Singer_Name</span>
                                                <a href="#" class="ml-auto"><i class="icon-share-1"></i></a>
                                                <div class="ml-auto">
                                                    <a href="http://cdn.lizixs.top/music/@item.Music_Url" title="@item.Music_ID" class="no-ajaxy media-url btn btn-outline-primary btn-sm d-none d-lg-block Music_Play_Count">
                                                        播放
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>


    </div>
</div>
<!-- partial:partials/_foot.html -->
<!-- partial -->
